.DS_Store
/.settings/
/.project
*.log
/data/products.json.gz
/data/products.json
/data/brewerydb/all/
/target
/.gradle/
*.jar
.scripts/
*.iml
.idea/
**/.terraform/
*.tfstate
brewdis-ui/__tests__/artifacts/**
infra/set-variables.sh
infra/set-variables.sh
infra/provider.tf
infra/dev/main.tf
infra/dev/provider.tf
infra/dev/set-variables.sh
infra/dev/variables.tf
